  .CFUserTextEncoding
        .DS_Store
        .ScreamingFrogSEOSpider/
        .anaconda/
        .bash_profile
        .conda/
        .condarc
        .config/
        .continuum/
        .gitattributes
        .gitconfig
        .idlerc/
        .ipython/
        .jupyter/
        .npm/
        .openjfx/
        .openshot_qt/
        .pnpm-state/
        .python_history
        .reg.db.bak
        .reg.db.dat
        .reg.db.dir
        .streamlit/
        .tcshrc
        .vscode/
        .xonshrc
        .zprofile
        .zsh_history
        .zsh_sessions/
        .zshrc
        Applications (Parallels)/
        Applications/
        Desktop/
        Documents/
        Downloads/
        Library/
        LocalAppData/
        Movies/
        Music/
        Pictures/
        Public/
        PycharmProjects/
        __pycache__/
        anaconda3/
        config.py
        env/
        main.py
        mu_code/
        my-app/
        node_modules/
        package-lock.json
        package.json
        requirements.txt
        tutorial-env/